<li >
<div class="row">
	<div class="columns small-6">
			{{ team_member.avatar }}
	</div>
	<div class="columns small-6">
		<div class="row">
			{{ team_member.email }}
			{{ team_member.role }}
		</div>
	</div>
</div>
</li>
